<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width" />
  <meta charset="UTF-8" />
  <meta name="description" content="RCE Playground" />
  <title>Playground</title>

  <link rel="stylesheet" href="https://unpkg.com/@primer/css/dist/primer.css" />
  <style>
    html,
    body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .h100 {
      height: 100%;
    }
    #playground {
      overflow: hidden;
    }
  </style>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs/loader.min.js"></script>
</head>

<body>
  <article id="app" class="markdown-body h100">
    <div class="d-flex flex-row flex-justify-around h100">
      <div class="col-5 float-left p-6 h100">
        <div class="form-group d-flex flex-row flex-justify-between">
          <div class="d-flex flex-row">
          <select class="form-select" v-model="language"
            v-on:change="changeLanguage">
            {% raw %}
            <option v-for="option in languageOptions" v-bind:value="option">{{ option }}</option>
            {% endraw %}
          </select>

          <details class="details-reset position-relative ml-2 mb-0">
            <summary class="btn btn-outline" v-on:click="getDescription">info</summary>
            <div class="Popover right-0 left-0">
              <div class="Popover-message Popover-message--large Popover-message--top-left p-4 mt-2 Box box-shadow-large">
                <div v-show="descriptionLoading"><span>Loading</span><span class="AnimatedEllipsis"></span></div>
                <div v-show="!descriptionLoading">
                  {% raw %}
                  <b>{{ languageDescription }} - {{ osVersion }}</b>
                  <pre class="mb-0">{{ packages.join('\n') }}</pre>
                  {% endraw %}
                </div>
              </div>
            </div>
          </details>
          </div>

          <button type="submit" class="btn btn-md btn-primary" v-on:click="run">Run</button>
        </div>

        <!-- TODO: set this automatically -->
        <div id="playground" style="height: 90%"></div>
      </div>
      <div class="col-5 float-left m-6" id="output">
        <h1>Results</h1>
        <div v-show="resultLoading"><h2><span>Loading</span><span class="AnimatedEllipsis"></span></h2></div>
        <div v-show="!resultLoading">
          {% raw %}
          <h2>exit code</h2>
          <pre>{{ exitCode }}</pre>
          <h2>stdout</h2>
          <pre>{{ stdout }}</pre>
          <h2>stderr</h2>
          <pre>{{ stderr }}</pre>
          {% endraw %}
        </div>
      </div>
    </div>
  </article>
</body>

<script>
  // TODO: make this an injected variable
  const RCE_ADDR = "http://127.0.0.1:8080";
  const LANGUAGE_TEMPLATES = {
    "python": `print("Hello, world!")`,
    "javascript": `console.log("Hello, world!");`,
    "cpp": `
#include <iostream>

int main() {
  std::cout << "Hello, world!\\n";
}`,
    "rust": `
fn main() {
  println!("Hello, world!");
}`,
  };
  const DEFAULT_LANGUAGE = "python";

  require.config({ paths: { vs: "https://unpkg.com/monaco-editor@0.21.2/min/vs" } });
  window.MonacoEnvironment = { getWorkerUrl: () => proxy };

  const proxy = URL.createObjectURL(
    new Blob(
      [
        `
	self.MonacoEnvironment = { baseUrl: 'https://unpkg.com/monaco-editor@0.21.2/min/' };
	importScripts('https://unpkg.com/monaco-editor@0.21.2/min/vs/base/worker/workerMain.js');`,
      ],
      { type: "text/javascript" }
    )
  );

  const $ = document.querySelector.bind(document);

  require(["vs/editor/editor.main"], function () {
    editor = monaco.editor.create($("#playground"), {
      value: LANGUAGE_TEMPLATES[DEFAULT_LANGUAGE],
      language: DEFAULT_LANGUAGE,
      theme: "vs-dark",
      fontSize: "15px",
      padding: { top: "20px" },
    });
  });

  new Vue({
    el: "#app",
    data: {
      language: "python",
      languageOptions: Object.keys(LANGUAGE_TEMPLATES),
      exitCode: "",
      stdout: "",
      stderr: "",
      languageDescription: "",
      osVersion: "",
      packages: [],
      resultLoading: false,
      descriptionLoading: false,
    },
    methods: {
      async run() {
        this.resultLoading = true;
        const {data: {exitcode, stdout, stderr}} = await axios.post('/api/rce', {
          lang: this.language,
          code: editor.getValue(),
          }).catch(console.error).finally(() => this.resultLoading = false);

        this.exitCode = exitcode;
        this.stdout = stdout;
        this.stderr = stderr;
      },

      async getDescription() {
        this.descriptionLoading = true;
        const {data: {description, packages, ubuntu}} = await axios.get(
          `/api/describe/${this.language}`
        ).catch(console.error).finally(() => this.descriptionLoading = false);

        this.languageDescription = description;
        this.osVersion = `Ubuntu ${ubuntu}`;
        this.packages = packages;
      },

      changeLanguage() {
        editor.setValue(LANGUAGE_TEMPLATES[this.language].trim());
        monaco.editor.setModelLanguage(editor.getModel(), this.language);
      }
    },
  });
</script>
